Python Day - 6

Sets / Dictionary

In [2]:
# empty 
s = {}
print(s)
print(type(s))

{}
<class 'dict'>

In [3]:
s = set()
print(s)

set()

In [4]:
s1 = {1,2,3}
print(s1)

{1, 2, 3}

In [8]:
s3 = {1,'hello',4,5,True}
print(s3)

s4 = set([1,2,3])
print(s4)

s5 = {1,1,2,2,3,3}
print(s5)

s1= {1,2,3}
s2 = {3,2,1}
print(s1==s2)

{1, 4, 5, 'hello'}
{1, 2, 3}
{1, 2, 3}
True

In [13]:
# accessing items 

s1 ={1,2,3,4}

s1.add(5)
print(s1)


s1.update([5,6,7])
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [10]:
# del
s = {1,2,3,4,5}
print(s)
# del s[0]

# discard  
s .discard(50)
print(s)

# remove 
s.remove (5)
print(s)

# pop
s.pop()
print(s)

# clear 
s.clear()
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{2, 3, 4}
set()

In [15]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# union (|)
s1 | s2

# intersection (&)
s1 & s2

# diffreence (-)
s1 - s2
s2 - s1

# symmetric difference 
s1 ^ s2 

# membership test 
1 not in s1

# iteration 
for i in s1:
    print(i)

1
2
3
4
5

In [16]:
# FUNCATION 
s = {1,4,2,7,3}

len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 4, 3, 2, 1]

In [17]:
# union / update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 .union (s1) 

s1. update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# intersection / intersection_update 
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 . intersection (s2 )

s1 . intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [20]:
# difference / difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 . difference(s2)

s1 .difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [22]:
# symmetric_difference / symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 .isdisjoint(s2)

False

In [4]:
s1 = {1,2,3,4,5}
s2= {3,4,5}
s2.issubset(s1)

True

In [5]:
s1 . issuperset(s2)

True

In [6]:
# copy 
s1 ={1,2,3}
s2 = s1.copy()

print(s2)

{1, 2, 3}

In [1]:
fs =frozenset([1,2,3])
fs

frozenset({1, 2, 3})

In [2]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])
fs1|fs2

frozenset({1, 2, 3, 4, 5})

In [4]:
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

In [5]:
# set compherhension 

{i for i in range (1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Dictionary

In [6]:
d ={}

In [7]:
d1 = {'name':'somya','gender':'male'}
d1

{'name': 'somya', 'gender': 'male'}

In [8]:
# with mix key 
d2 = {(1,2,3):1,'hello':'world'}
d2

{(1, 2, 3): 1, 'hello': 'world'}

In [ ]:
# 2d dictionary 
s= { 
    'name':'somya',
    'collage':'aict',
    'sem':7,
    'subject':{
        'dsa':50,
        'maths':67,
        'oops':90

    }
}
s

{'name': 'somya',
 'collage': 'aict',
 'sem': 7,
 'subject': {'dsa': 50, 'maths': 67, 'oops': 90}}

In [3]:
# using seq. and dict function 

d4= dict([('name','somya'),('age',20),(3,3)])
d4

{'name': 'somya', 'age': 20, 3: 3}

In [4]:
# duplicate keys
d5 = {'name':'somya','name':'sujal'}
d5

{'name': 'sujal'}

In [5]:
# mutables items are keys 
d6 = {'name':'somya',(1,2,3):2} 
print(d6)

{'name': 'somya', (1, 2, 3): 2}

In [25]:
my_dict = {'name':'jack','age':26}
my_dict['name']

my_dict.get('name')

'jack'

In [12]:
# addinng key value pair 
d4['gender']='male'
d4

{'name': 'somya', 'age': 20, 3: 3, 'gender': 'male'}

In [18]:
# remove key value pair
d = {'name': 'somya', 'age': 20, 3: 3, 'gender': 'male'}
d. pop (3)
print(d)

del d['name']
print(d)

d.clear()
print(d)

{'name': 'somya', 'age': 20, 'gender': 'male'}
{'age': 20, 'gender': 'male'}
{}

In [15]:
d.popitem()
print(d)

{'name': 'somya'}

In [22]:
s['subject']['ds']=75
s

{'name': 'somya',
 'collage': 'aict',
 'sem': 7,
 'subject': {'dsa': 50, 'maths': 67, 'oops': 90, 'ds': 75}}

In [23]:
# remove key value pair
del s['subject']['maths']
s

{'name': 'somya',
 'collage': 'aict',
 'sem': 7,
 'subject': {'dsa': 50, 'oops': 90, 'ds': 75}}

In [ ]:
# editing key value pair
s['sem']=8
s

{'name': 'somya',
 'collage': 'aict',
 'sem': 8,
 'subject': {'dsa': 50, 'oops': 90, 'ds': 75}}

In [26]:
# dictionary operation
# membership 
# iteration 

print(s) 

'name' in s

{'name': 'somya', 'collage': 'aict', 'sem': 8, 'subject': {'dsa': 50, 'oops': 90, 'ds': 75}}

True

In [27]:
d ={'name':'somya','age':20,'gender':'male'}

for i in d:
    print(i,d[i])

name somya
age 20
gender male

In [28]:
# dictionary function
len(d)

3

In [29]:
sorted(d)

['age', 'gender', 'name']

In [30]:
sorted(d,reverse=True)

['name', 'gender', 'age']

In [ ]:
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'somya', 'age': 20, 'gender': 'male'}
dict_items([('name', 'somya'), ('age', 20), ('gender', 'male')])
dict_keys(['name', 'age', 'gender'])
dict_values(['somya', 20, 'male'])

In [34]:
d1 ={1:2,2:3,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 2: 3, 3: 4, 4: 7, 6: 8}

In [35]:
# dictionary comprehension 

# print 1st 10 no. and their squar
{i:i**2 for i in range (1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# using existing dictionary 
distance = {'delhi':1000,'mumbai':2000,'pune':2500}
{key:value*0.62 for (key,value) in distance.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'pune': 1550.0}

In [ ]:
# using zip 
days = ['sunday','monday','tuesday','wednesday','thrusday','friday','saturday']
temp_c = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for(i,j) in zip(days,temp_c)}

{'sunday': 30.5,
 'monday': 32.6,
 'tuesday': 31.8,
 'wednesday': 33.4,
 'thrusday': 29.8,
 'friday': 30.2,
 'saturday': 29.9}

In [ ]:
# using if condition 
product = {'phone':10,'laptop':0,'tv':25,'led':0}

{key:value for (key,value) in product.items() if value>0}

{'phone': 10, 'tv': 25}

In [41]:
# nested comprehension
# print tables of no. from 2 to 4

{i:{j:i*j for j in range (1,11)} for i in range (2,5)}

# {
#     2:{1:2,2:4,3:6,4:8},
#     3:{1:3,2:6,3:9,4:12},
# }

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}