Python Day - 4

LIST

In [2]:
L = [1,2,3]

print (id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

1635310581568
140705203647272
140705203647304
140705203647336
140705203647272
140705203647304
140705203647336

In [4]:
l = [1,2,3]
l1 = [1,4,5]

l == l1

False

In [6]:
# empty 
print([])

# 1D --> homo 
print ([1,2,3,4,5])

# 2D
print([1,2,3,[4,5]])

# 3D --> 
print([[[1,2],[3,4]],[4,5]])

# hetrogenous
print([1,True,5.6,5+6j,'hello'])

# using type conversion 
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [4, 5]]
[1, True, 5.6, (5+6j), 'hello']
['h', 'e', 'l', 'l', 'o']

In [11]:
# indexing
l = [ 1,2,3,[4,5]]
print(l[3][0])

4

In [12]:
l =([[[1,2],[3,4]],[4,5]])
print(l[0][1][0])

3

In [15]:
# slicing 

l=[1,2,3,4,5,6]

print(l[-3:])
print(l[3:])
print(l[0::2])

[4, 5, 6]
[4, 5, 6]
[1, 3, 5]

In [16]:
# adding items to a list 

# append 
l= [1,2,3,4,5]
l.append(True)
print(l)

[1, 2, 3, 4, 5, True]

In [17]:
# extend 
l = [1,2,3,4,5]
l.extend([6,7,8])
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
# insert 

l=[1,2,3,4,5]
l.insert(1,100)
print(l)

[1, 100, 2, 3, 4, 5]

In [ ]:
# editing in list 
l = [1,2,3,4,5]

# editing with index 
l[-1]=500

# editing with slicing
l[1:4] = [200,300,400]

print(l)

[1, 200, 300, 400, 500]

In [ ]:
# deleting in list 

# del
l = [1,2,3,4,5]

# indexing  
del l[-1]

# slicing
del l [1:3]

print(l)

[1, 4]

In [26]:
# remove
l =[1,2,3,4,5]

l.remove(5)
print(l)

[1, 2, 3, 4]

In [27]:
# pop

l = [1,2,3,4,5]

l.pop(0)
print(l)

[2, 3, 4, 5]

In [29]:
# clear 

l = [1,2,3,4,5]
l.clear()
print(l)

[]

In [33]:
# operation in list 

# Airthmetic ( + ,* )
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

print(l1 +l2)
print(l1 *2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [40]:
# membership 
l1 = [1,2,3,4,5]
l2 = [1,2,3,4,[5,6]]

print( 3 in l1)
print([5,6] in l2)

True
True

In [43]:
# loops 
l1 = [1,2,3,4,5]
l2 = [1,2,3,4,[5,6]]

for i in l2:
    print(i)

1
2
3
4
[5, 6]

In [48]:
# list function 

l = [1,2,3,4,5]

print(len(l))
print(min(l))
print(max(l))
print(sorted(l))

l.count(5)

5
1
5
[1, 2, 3, 4, 5]

1

In [49]:
# index
l.index(4)

3

In [52]:
# reverse 
l =[2,3,1,4,5]
l.reverse()
print(l)

[5, 4, 1, 3, 2]

In [57]:
# sort 
l = [2,1,5,7,0]
print(l)
print(sorted(l))
print(l)
l.sort()
print(l)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [59]:
# copy 
l = [2,1,5,7,0]
print(l)
print(id (l))
l1 = l.copy()
print (l1)
print(id(l1))

[2, 1, 5, 7, 0]
2144567471680
[2, 1, 5, 7, 0]
2144568170560

In [61]:
# LIST COMPREHENSION 

# add 1 to 10 no. to a list
l = [i for i in range(1,11)]

print (l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
# scalar multiplication on a vector 
v = [2,3,4]
s = -3

x =[]
for i in v:
    x.append(i*s)

print(x)



[s*i for i in v]

[-6, -9, -12]

[-6, -9, -12]

In [65]:
# add squares
l = [1,2,3,4,5]
[i**2 for i in l]

[1, 4, 9, 16, 25]

In [66]:
# print all no. divisible by 5 in the range of 1 to 50
[ i for i in range(1,51) if i%5 ==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [72]:
# find language  which start with letter p 
languages = ['java', 'python' ,'php', 'c']
[language for language in languages if language.startswith('p')]

['python', 'php']

In [73]:
# nested if with list comphension 
basket=['apple','banana','orange','cherry']
my_fruits=['apple','kiwi','banana','grapes']

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [74]:
# print a (3,3) matrix using list comprehension --> nested list comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [75]:
# cartesian product --> list comprehension on 2 lists together
l1 = [1,2,3,4]
l2 = [5,6,7,8]

[i*j for i  in l1 for j in l2  ]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [76]:
# TRAVERSE --
# 2 WAY 
# . ITEMWISE
# . INDEXWISE 

# itemwise
l = [1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [77]:
# indexwise
l = [1,2,3,4]
for i in range (0,len(l)):
    print(i)

0
1
2
3

In [83]:
# zip function 

# write a program to add items of 2 lists indexwise 

l1 = [1,2,3,4]
l2 = [-1,-2,-3,-4]

list(zip(l1,l2))
[i+j for i,j in zip (l1,l2)]

[0, 0, 0, 0]

In [84]:
l =[ 1,2,print,type,input]
print(l)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001F35047B090>>]

In [85]:
a = [1,2,3]
b= a

print(a)
print(b)

a.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]