Python - Day 5

In [6]:
# empty

t1 = ()
print(t1)

t2 =('hello',)
print(t2)

t3 = (1,2,3,4)
print(t3)

t4 = (1,2,5,True,[1,2,3])
print(t4)

t5 = (1,2,3,(4,5))
print(t5)

t6 = tuple('hello')
print(t6)

()
('hello',)
(1, 2, 3, 4)
(1, 2, 5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

In [10]:
# accessing item

t3 
print(t3[0])
print(t3[-1])

1
4

In [11]:
print(t3[0:3])

(1, 2, 3)

In [12]:
t5 [-1][0]

4

In [ ]:
# edit items
# t3[0]= 100 
# tupple is not editable

In [14]:
# deleting 
# del t3 
# print (t3)

In [18]:
t = (1,2,3,4,5)

t[-1:4:-1]

()

In [ ]:
# operation on tuples 
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1+t2)
print(t1 *3)
1 in t1
# iterator
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

In [26]:
# tuple function

t = (1,2,3,4,5)
len(t)


sum(t)


min(t)


max(t)


sorted(t)

[1, 2, 3, 4, 5]

In [27]:
t.count(5)

1

In [28]:
t.index(i)

3

In [29]:
t.index(5)

4

In [33]:
a = [1,2,3,4]
b =a 
a.append(5)
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [34]:
a =(1,2,3,4)
b=a
a =a+(5,)
print(a)
print(b)

(1, 2, 3, 4, 5)
(1, 2, 3, 4)

In [35]:
# spacially syntx 
a,b,c =(1,2,3)
print(a,b,c)

1 2 3

In [36]:
a =1
b =2 
a,b =b,a
print(a,b)

2 1

In [37]:
a,b,*others= (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [42]:
# zipping in tuples 
a = (1,2,3,4)
b= (5,6,7,8)

list(zip(a,b))

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))