Python Day - 6

Sets

In [2]:
# empty 
s = {}
print(s)
print(type(s))

{}
<class 'dict'>

In [3]:
s = set()
print(s)

set()

In [4]:
s1 = {1,2,3}
print(s1)

{1, 2, 3}

In [8]:
s3 = {1,'hello',4,5,True}
print(s3)

s4 = set([1,2,3])
print(s4)

s5 = {1,1,2,2,3,3}
print(s5)

s1= {1,2,3}
s2 = {3,2,1}
print(s1==s2)

{1, 4, 5, 'hello'}
{1, 2, 3}
{1, 2, 3}
True

In [13]:
# accessing items 

s1 ={1,2,3,4}

s1.add(5)
print(s1)


s1.update([5,6,7])
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [10]:
# del
s = {1,2,3,4,5}
print(s)
# del s[0]

# discard  
s .discard(50)
print(s)

# remove 
s.remove (5)
print(s)

# pop
s.pop()
print(s)

# clear 
s.clear()
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{2, 3, 4}
set()

In [15]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# union (|)
s1 | s2

# intersection (&)
s1 & s2

# diffreence (-)
s1 - s2
s2 - s1

# symmetric difference 
s1 ^ s2 

# membership test 
1 not in s1

# iteration 
for i in s1:
    print(i)

1
2
3
4
5

In [16]:
# FUNCATION 
s = {1,4,2,7,3}

len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 4, 3, 2, 1]

In [17]:
# union / update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 .union (s1) 

s1. update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# intersection / intersection_update 
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 . intersection (s2 )

s1 . intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [20]:
# difference / difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 . difference(s2)

s1 .difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [22]:
# symmetric_difference / symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 .isdisjoint(s2)

False

In [4]:
s1 = {1,2,3,4,5}
s2= {3,4,5}
s2.issubset(s1)

True

In [5]:
s1 . issuperset(s2)

True

In [6]:
# copy 
s1 ={1,2,3}
s2 = s1.copy()

print(s2)

{1, 2, 3}