Python Day -7 

Function

In [7]:
def is_even(num):
    """
    This function returns if a given number is odd or even
    input  - any valid integer 
    output - odd / even
    created on - 16th Nov 2022
    """
    if type(num) == int:
        if num % 2 == 0:
            return 'even'
        else:
            return 'odd'
    else:
        return 'pagal hai kya'

In [2]:
# function

for i in range (1,11):
    x = is_even(i)
    print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [3]:
is_even(9)

'odd'

In [8]:
is_even('hello')

'pagal hai kya'

In [ ]:
# types of argument 
# 1. default argument
# 2. positional argument
# 3. keyword argument

In [13]:
def power (a=1,b=1):

 return a**b

In [14]:
power(6)

6

In [16]:
# positional argu.

power (2,3)

8

In [18]:
# keyword argu.

power(b=3,a=2)

8

In [20]:
# args and kwargs

# args
def multiply(a,b):
    return a*b

In [21]:
multiply(2,3)

6

In [26]:
def multiply(*args):
    product = 1

    for i in args:
        product =product*i

    print(args)
    return product

In [27]:
multiply(1,2,3,4,5,6,6)

(1, 2, 3, 4, 5, 6, 6)

4320

In [28]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.