Python Day -7 

Function

In [1]:
def is_even(num):
    """
    This function returns if a given number is odd or even
    input  - any valid integer 
    output - odd / even
    created on - 16th Nov 2022
    """
    if type(num) == int:
        if num % 2 == 0:
            return 'even'
        else:
            return 'odd'
    else:
        return 'pagal hai kya'

In [2]:
# function

for i in range (1,11):
    x = is_even(i)
    print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [3]:
is_even(9)

'odd'

In [4]:
is_even('hello')

'pagal hai kya'

In [5]:
# types of argument 
# 1. default argument
# 2. positional argument
# 3. keyword argument

In [6]:
def power (a=1,b=1):

 return a**b

In [7]:
power(6)

6

In [8]:
# positional argu.

power (2,3)

8

In [9]:
# keyword argu.

power(b=3,a=2)

8

In [10]:
# args and kwargs

# args
def multiply(a,b):
    return a*b

In [11]:
multiply(2,3)

6

In [12]:
def multiply(*args):
    product = 1

    for i in args:
        product =product*i

    print(args)
    return product

In [13]:
multiply(1,2,3,4,5,6,6)

(1, 2, 3, 4, 5, 6, 6)

4320

In [14]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

In [15]:
# **kwargs

def display(**kwargs):

    for (key,value) in kwargs.items():
        print(key,'->',value)

In [16]:
display(india='delhi',srilanka='colombo',nepal='kathmandu')

india -> delhi
srilanka -> colombo
nepal -> kathmandu

In [17]:
# variable scope

def g(y):
    print(x)
    print(x-1)
x=5
g(x)
print(x)

5
4
5

In [18]:
def f(y):
    x=1
    x += 1
    print(x)
x=5
f(x)
print(x)

2
5

In [19]:
def h(y):
    global x
    x += 1
x = 5
h(x)
print(x)

6

In [20]:
def f(x):
    x =x +1
    print('in f(x):x',x)
    return x

x=3
z = f(x)
print('in main program scope: z=',z)
print('in main program scope: x =',x)

in f(x):x 4
in main program scope: z= 4
in main program scope: x = 3

In [21]:
# nested funnction

def f():
  def g():
    print('inside function g')
  g()
  print('inside function f')

In [22]:
f()

inside function g
inside function f

In [23]:
# def g(h):
#     def h():
#         x = 'abc'
#     x = x + 1 
#     print ('in g(x): x=',x)
#     h()
#     return x

# x =3 
# z =g(x)

In [24]:
def g(x):
    def h(x):
        x =x+1
        print("in h(x): x=",x)
    x = x + 1
    print('in g(x): x=',x)
    h(x)
    return x

x = 3
z = g(x)
print('in main program scope: x =',x)
print('in main program scope: z =',z)

in g(x): x= 4
in h(x): x= 5
in main program scope: x = 3
in main program scope: z = 4

In [25]:
# function are first class citizen 

# type and id 
def square (num):
    return  num**2

type (square)

id(square)

1793871409568

In [26]:
# reassign 
x = square 
id(x)
x(3)

9

In [27]:
a =2 
b=a 
b

2

In [28]:
# deletion a function 
del square

In [31]:
# # sorting
# l = [1,2,3,4,square]
# l[-1](3)

In [ ]:
# returing a funcation 

def f():
    def x(a,b):
        return a+b
    return x

val = f()(3,4)
print(val)

7

In [ ]:
# function as argument

def func_a():
    print('inside func_a')

def func_b(z):
    print('inside func_c')
    return z()

print(func_b(func_a))

inside func_c
inside func_a
None

In [ ]:
# lambda funcation 

# lambda a,b: a+b

In [ ]:
# x -> x^2
a = lambda x:x**2
a(2)

4

In [ ]:
# x,y = x+y
a = lambda x,y:x+y
a(5,2)

7

In [ ]:
# check if a string has 'a'
a = lambda s:'a' in s
a('hello')

False

In [ ]:
# odd / even 
a = lambda x:'even' if x%2 == 0 else 'odd'
a(6)

'even'

In [ ]:
# higher order function

def square(x):
    return x**2

# HOF
def transform(f,l):
    output =[]
    for i in l:
        output.append(f(i))

    print(output)

l=[1,2,3,4,5]

transform(square,l)
transform(lambda x:x**3,l)

[1, 4, 9, 16, 25]
[1, 8, 27, 64, 125]

In [ ]:
# MAP

# square the items of a list 

list (map (lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
# odd/even labelling of list items 
l = [1,2,3,4,5]
list(map (lambda x:'even' if x%2 ==0 else 'odd',l))

['odd', 'even', 'odd', 'even', 'odd']

In [ ]:
# fetch names from a list of dict 
users = [ 
    {
        'name':'somya',
        'age':20,
        'gender':'male'
    
    },
   {
        'name':'ayush',
        'age':17,
        'gender':'male'
    }
]

list(map(lambda users:users['gender'],users))

['male', 'male']

In [ ]:
# filter

l = [1,2,3,6,5]

list(filter (lambda x:x>5,l))

[6]

In [ ]:
# fetch fruits starting 'a'
fruits = ['apple','banana','cheery']

list(filter(lambda x:x.startswith ('a'),fruits))

['apple']

In [ ]:
# reduce 
# sum of all items 

import functools

functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [ ]:
# find min 
functools.reduce (lambda x,y:x if x<y else y,[23,43,25,52,11] )

11